!!!
html
  head
    title= title
    link(rel='stylesheet',href='/style.css')
  body
    h1= title
      span#info  be patient
      span#loading
    
    if cache
      p Serving potentially cached screenshots. Click an image to refresh.
    else
      p Be patient, images will start appearing after #{wait/1000}s. Click an image to refresh.
    
    each url, title in sites
      each resolution in resolutions
        h2= title
          span  #{resolution.name}
        img(
          src='/snapshot/#{url}/#{resolution.name}/#{wait}',
          style="width:#{resolution.width}; max-width:#{resolution.maxWidth}"
        )
        
    script(src="/app.js")