!!!
html
  head
    title= title
    link(rel='stylesheet',href='style.css')
  body
    h1= title
      a.refresh-all ⟲
    
    if cache
      p Images are cached for #{expires}. Refresh at will.
    else
      if wait
        p Be patient, images will start appearing after #{wait/1000}s. Refresh at will.
    
    each url, title in sites
      each resolution in resolutions
        h2= title
          span  #{resolution.name} 
          a.refresh ⟲
        a(href="#{decodeURIComponent(url)}",target="_blank")
          img(
            src='snapshot/#{url}/#{resolution.name}/#{wait}',
            style="width:#{resolution.width}; max-width:#{resolution.maxWidth}"
          )
        
    script(src="app.js")